* {
    box-sizing: border-box;
}

body {
    background: url('../images/background.png');
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777; 
}

.box {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}


h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5
}
 
h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

h2, h3 {
    font-size:22px;
}

/*headers*/

#header {
    background: #fff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #acc;
    position: fixed;
    width:100%;
}

#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif|
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    padding-left: 8px;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;

}

nav a:first-child {
    border-left: 0 none;
}

/*main*/

#main-box {
    padding-top: 130px;
}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
    text-align: justify;
}


.placeholder1 {
    width: 250px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

.placeholder {
    width: 275px;
    height: 180px;
    margin-right: 10px;
}

/*sidebox area*/

.sidebar {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

.social {
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

footer {
    background: #666;
    color: #fff;
    padding:30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #acc;
    font-size: 12px;
    text-align: center;
}

.project {
    width: 274px;
    overflow: auto;
    position: relative; 
    float: left;
    margin: 20px 0 15px;
}

.project:nth-child(even) {
    margin-right: 40px
}

.project img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}

.project h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
}

 #contact-form ul {
     margin-bottom: 20px;
 }

 #contact-form il {
     margin-bottom: 10px;
 }

 label,
 input[type=text],
 input[type=email],
 textarea {
 display: block;
 width: 100%;
 }
 
 label,
 input[type=text],
 input[type=email],
 textarea {
 height: 35px;
 border: 1px solid #ddd|;
 padding: 0 10px;
 font-size: 14px;
 }  


textarea {
    height: 200px;
 }

input[type=submit] {
background: #4aaaa5;
border: 0 none;
color: #fff;
font-size: 18px;
padding: 10px 30px;
cursor: pointer;
 }


 /* Additional Screen Sizes */

/* Width at 980px  */
@media screen and (max-width: 980px) {
   



/* Width at 768px  */
@media screen and (max-width: 768px) {
    
    .sidebar {    
        display: none;
    } 
    
    #box  {
        width: 100%
    }
    
    #header {
        width: 100%
    }
    
    #logo {
        align-content: center;
        position: static;
    }
    
    #contact-form {
        width: 100%;
    }
    
    .main-section{
    max-width: 650px;
    margin-left: 30px;
    }





 /* Width at 640px */
@media screen and (max-width: 640px) {

.sidebar {    
    display: none;
} 

#box  {
    width: 100%;
    position: static;
}

#contact-form {
    width: 100%;
}

.main-section{
max-width: 340px;
margin-left: 30px;
}
 
#logo {
    width: 640px;
    padding-left: 82px;
}

nav {
    width: 640px;
    padding-left: 300px;
}